%h3 Create Items for Your To Do List

%div#item
	%label{:for => "txtitem"} Enter Item:
	%input#txtitem.text2{:type => "text"}
%div#quantity
	%label{:for => "txtqty"} Enter Days to Complete:
	%input#txtqty.text2{:type => "number"}
-# %br
-# %div#item
-# 	%label{:for => "txtitem"} Enter Item:
-# 	%input#txtitem2.text2{:type => "text"}
-# %div#quantity
-# 	%label{:for => "txtqty"} Enter Days to Complete:
-# 	%input#txtqty2.text2{:type => "number"}
-# %br
-# %div#item
-# 	%label{:for => "txtitem"} Enter Item:
-# 	%input#txtitem3.text2{:type => "text"}
-# %div#quantity
-# 	%label{:for => "txtqty"} Enter Days to Complete:
-# 	%input#txtqty3.text2{:type => "number"}
-# %br
-# %div#item
-# 	%label{:for => "txtitem"} Enter Item:
-# 	%input#txtitem4.text2{:type => "text"}
-# %div#quantity
-# 	%label{:for => "txtqty"} Enter Days to Complete:
-# 	%input#txtqty4.text2{:type => "number"}
-# %br
-# %div#item
-# 	%label{:for => "txtitem"} Enter Item:
-# 	%input#txtitem5.text2{:type => "text"}
-# %div#quantity
-# 	%label{:for => "txtqty"} Enter Days to Complete:
-# 	%input#txtqty5.text2{:type => "number"}
%br
%button{:id => "submititem"} Submit